.modal {
	max-width: 300px;
	background: #000;
	color: white;
	padding: 1rem;
	border-radius: 10px;

	position: fixed;
	z-index: -1;
	top: 60%;
	left: 50%;
	transform: translate(-50%);
	opacity: 0;

	transition: 1s;
}

.modal.show {
	opacity: 1;
	transform: translate(-50%);
	top: 40%;
	z-index: 10001;
}

.blur {
	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0px;
	left: auto;
	z-index: -1;
	transition: 1s;
}

.blur.show {
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(3px);
	z-index: 10000;
}